.scoop{padding: .8em; background:#eee}
.scooptop {clear: both;display: block;float: right;width: 100%;}
.scooptop a{float:right; padding-left: 30px; padding-right: 30px;}

.scooptopics h2{color: #f7971c; font-weight: normal; font-size: 2em; margin: 0}
.scooptopics hr{margin:.6em 0}
.scoopbox{background: #fff; padding:.7em;margin-bottom: 1em; box-shadow: 1px 1px 10px #ccc;}
.scoopbox h2{margin-bottom: .5em}
.scoopbox h2 a{color: #f7971c; font-size: .9em; }
.scoopbox h2 a:hover{color: #f8a335}
.scoopbox hr{margin:.1em 0}
.scoopbox p{position: relative; margin-bottom: .3em}
.scoopbox p span{ color: #828186; margin-left: 1%; margin-top: 5%; position: absolute;}
.scoopbox article p{color: #828186; font-size: .9em;}

.rescoop{float: right; background-image:url(../images/rescoop_pre.jpg); background-repeat: no-repeat; width: 25px; height: 25px; text-indent: -998999px; display: block;}